<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    
	<table class="table">
		<thead>
			<tr id="header">
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th colspan="2">Subject</th>
			
			</tr>
		</thead>
	
	<tbody>
		<% trainer_.forEach(function(trainer){ if (single.trainer_id == trainer.trainer_id) {%>
		
			<tr class="edit">
				<form action="/edit/" method="POST">
					<!-- <td><input type="text" name="id" value='<%= single.trainer_id %>' readonly></td> -->
			
					<td><input type="text" name="id" value='<%= single.trainer_id %>' aria-hidden="true" hidden></td>
					<td><input type="text" name="fname" value='<%= single.first_name %>'></td>
					<td><input type="text" name="lname" value='<%= single.last_name %>'></td>
					<td><input type="text" name="sub" value='<%= single.subject %>'></td>
					<td><span><input type="submit" value="Submit"></span></td>
					
				</form>
			</tr>
		<% }else { %>
			<tr>
				<td id="id"><%=trainer.trainer_id %></td>
				<td><%=trainer.first_name %></td>
				<td><%=trainer.last_name %></td>
				<td ><%=trainer.subject %></td>
		</tr>
		<% }}); %>
		
	</tbody>	
</table>
  </body>
</html>