<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/style.css" />
	<title><%= title %></title>
  </head>
  <body>
	<a href="/" class="title"><h1> <%= title %></h1></a>
	<hr>

	<table class="table">
		<thead>
			<tr id="header">
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Subject</th>
				<th >
					<div class="search-container">
						<i class="fas fa-search"></i>
						<input type="search" name="search" id="search"  placeholder="Search..." >
						
					</div>
				</th>
			</tr>
		</thead>
	
		<tbody>
		<tr>
			<td id="id" class="adder">#</td>
			<td colspan="5" class="adder"><span><a href="/add">Add a new Trainer</a></span></td>
			
		</tr>
		<tr>
		<% trainer_.forEach(function(trainer){ %>
				<td id="id"><%=trainer.trainer_id %></td>
				<td><%=trainer.first_name  %></td>
				<td><%=trainer.last_name  %></td>
				<td ><%=trainer.subject  %></td>
				<td><span><a href="/edit/<%=trainer.trainer_id %>">Update</a> <a id="delete" href="/delete/<%=trainer.trainer_id %>">Remove</a></span></td>
			</tr>
		<% }); %>
			
	</tbody>
</table>




  </body>
</html>